# PROYECTO POBLACIÓN RESIDENTE EN BARCELONA 

"dataset" de la población residente en Barcelona por sexo, barrio, continente de nacimiento y por nacionalidad actualizado a 1 de enero de 2023. 
https://opendata-ajuntament.barcelona.cat/data/es/datasetpad_mdbas_nacionalitat-pais_nacionalitat-continent_sexe
### este dataset lo llamaré "df1"
CSV: 2023_pad_mdbas_nacionalitat-pais_nacionalitat-continent_sexe.csv


"dataset" con códigos de valores que representan nacionalidades, tipos de género, lugar de nacimiento, código de distrito de residencia, código de distrito de residencia referidos al "dataset" "df1".
https://opendata-ajuntament.barcelona.cat/data/ca/dataset/pad-dimensions
### este dataset lo llamaré "df2"
CSV: pad_dimensions.csv

In [11]:
import pandas as pd
# Cargar CSV y guardarlo en la variable "df1"
df1 = pd.read_csv('2023_pad_mdbas_nacionalitat-pais_nacionalitat-continent_sexe.csv')

# Cargar CSV y guardarlo en la variable "df2"
df2 = pd.read_csv('pad_dimensions.csv')

# IMPRIMIR LAS PRIMERAS 5 FILAS (default) DEI DATAFRAME - nombre_dataset.head() 
#  entre parentesis puedes pasar el numero de filas que quieres imprimir

print('PRIMERAS FILAS DEL DATAFRAME "df1":\n{}'.format(df1.head()))
print('PRIMERAS FILAS DEL DATAFRAME "df2":\n{}'.format(df2.head()))

PRIMERAS FILAS DEL DATAFRAME "df1":
  Data_Referencia  Codi_Districte Nom_Districte  Codi_Barri Nom_Barri  AEB  \
0      2023-01-01               1  Ciutat Vella           1  el Raval    1
1      2023-01-01               1  Ciutat Vella           1  el Raval    1
2      2023-01-01               1  Ciutat Vella           1  el Raval    1
3      2023-01-01               1  Ciutat Vella           1  el Raval    1
4      2023-01-01               1  Ciutat Vella           1  el Raval    1

   Seccio_Censal Valor  NACIONALITAT_PAIS  NACIONALITAT_CONTINENT  SEXE
0           1001    ..                 15                       4     1
1           1001    ..                 15                       4     2
2           1001    ..                 22                       4     2
3           1001   315                 58                       4     1
4           1001   357                 58                       4     2
PRIMERAS FILAS DEL DATAFRAME "df2":
   Codi_Dimensio Desc_Dimensio  Codi_Valor Desc_Valor_CA Desc_Valor_ES  \
0              1          SEXE           1          Dona         Mujer
1              1          SEXE           2          Home        Hombre
2              2        EDAT_1           0        0 anys        0 años
3              2        EDAT_1           1        1 anys        1 años
4              2        EDAT_1           2        2 anys        2 años

  Desc_Valor_EN
0        Female
1          Male
2       0 years
3       1 years
4       2 years

In [14]:
# IMPRIMIR INFO DATAFRAME nombre_dataframe.info()
print('INFO DATAFRAME "df1":')
print(df1.info())
print('INFO DATAFRAME "df2":')
print(df2.info())

INFO DATAFRAME "df1":
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82179 entries, 0 to 82178
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Data_Referencia         82179 non-null  object
 1   Codi_Districte          82179 non-null  int64
 2   Nom_Districte           82179 non-null  object
 3   Codi_Barri              82179 non-null  int64
 4   Nom_Barri               82179 non-null  object
 5   AEB                     82179 non-null  int64
 6   Seccio_Censal           82179 non-null  int64
 7   Valor                   82179 non-null  object
 8   NACIONALITAT_PAIS       82179 non-null  int64
 9   NACIONALITAT_CONTINENT  82179 non-null  int64
 10  SEXE                    82179 non-null  int64
dtypes: int64(7), object(4)
memory usage: 6.9+ MB
None
INFO DATAFRAME "df2":
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1497 entries, 0 to 1496
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Codi_Dimensio  1497 non-null   int64
 1   Desc_Dimensio  1497 non-null   object
 2   Codi_Valor     1497 non-null   int64
 3   Desc_Valor_CA  1497 non-null   object
 4   Desc_Valor_ES  1497 non-null   object
 5   Desc_Valor_EN  1497 non-null   object
dtypes: int64(2), object(4)
memory usage: 70.3+ KB
None

In [15]:
# imprimir una descripción del dataframe nombre_dataframe.describe()
print('DESCRIPCIÓN DF1:')
print(df1.describe())
print('DESCRIPCIÓN DF2:')
print(df2.describe())

DESCRIPCIÓN DF1:
       Codi_Districte    Codi_Barri           AEB  Seccio_Censal  \
count    82179.000000  82179.000000  82179.000000   82179.000000
mean         5.375935     30.833485    111.964541    5435.916219
std          3.029682     22.286268     67.530571    3030.488716
min          1.000000      1.000000      1.000000    1001.000000
25%          2.000000     10.000000     52.000000    2160.000000
50%          5.000000     27.000000    111.000000    5082.000000
75%          8.000000     50.000000    170.000000    8067.000000
max         10.000000     73.000000    233.000000   10237.000000

       NACIONALITAT_PAIS  NACIONALITAT_CONTINENT          SEXE
count       82179.000000            82179.000000  82179.000000
mean          116.443130                5.773190      1.494676
std            86.374591               53.538903      0.499975
min             1.000000                1.000000      1.000000
25%            52.000000                2.000000      1.000000
50%           108.000000                3.000000      1.000000
75%           174.000000                4.000000      2.000000
max           999.000000              999.000000      2.000000
DESCRIPCIÓN DF2:
       Codi_Dimensio   Codi_Valor
count    1497.000000  1497.000000
mean       27.536406    85.391450
std        10.923050    95.507477
min         1.000000     0.000000
25%        28.000000    18.000000
50%        31.000000    65.000000
75%        36.000000   132.000000
max        38.000000   999.000000

In [21]:
# Filtrar filas donde el valor en la columna 'Desc_Dimensio' sea 'NACIONALITAT_PAIS' o 'SEXO'
df2_filtrado = df2[(df2['Desc_Dimensio'] == 'NACIONALITAT_PAIS') | (df2['Desc_Dimensio'] == 'SEXO')][['Desc_Dimensio', 'Codi_Valor', 'Desc_Valor_ES']]

# Resetar el índice del DataFrame resultante
df2_filtrado = df2_filtrado.reset_index(drop=True)

print(df2_filtrado)

         Desc_Dimensio  Codi_Valor Desc_Valor_ES
0    NACIONALITAT_PAIS           1    Afganistán
1    NACIONALITAT_PAIS           2   Islas Aland
2    NACIONALITAT_PAIS           3       Albania
3    NACIONALITAT_PAIS           4      Alemania
4    NACIONALITAT_PAIS           5       Argelia
..                 ...         ...           ...
233  NACIONALITAT_PAIS         234         China
234  NACIONALITAT_PAIS         235        Chipre
235  NACIONALITAT_PAIS         236        Zambia
236  NACIONALITAT_PAIS         237      Zimbabwe
237  NACIONALITAT_PAIS         999     No consta

[238 rows x 3 columns]

In [43]:
# FILTRAR DF1
columnas_seleccionadas = ["Nom_Districte", "Nom_Barri", "Valor", "NACIONALITAT_PAIS", "SEXE"]
df1_filtrado = df1[columnas_seleccionadas]
print(df1_filtrado)

      Nom_Districte            Nom_Barri Valor  NACIONALITAT_PAIS  SEXE
0      Ciutat Vella             el Raval    ..                 15     1
1      Ciutat Vella             el Raval    ..                 15     2
2      Ciutat Vella             el Raval    ..                 22     2
3      Ciutat Vella             el Raval   315                 58     1
4      Ciutat Vella             el Raval   357                 58     2
...             ...                  ...   ...                ...   ...
82174    Sant Martí  la Verneda i la Pau    ..                151     2
82175    Sant Martí  la Verneda i la Pau     7                161     1
82176    Sant Martí  la Verneda i la Pau     5                161     2
82177    Sant Martí  la Verneda i la Pau    ..                113     1
82178    Sant Martí  la Verneda i la Pau    ..                113     2

[82179 rows x 5 columns]